
@media only screen and (max-width: 600px){
.categorycard{
  width: 192px;
  height: 300px;
  flex-wrap: wrap;
}

.categorycard_image{
  width: 192px;
  height: 192px;
  margin: 0px 0px 10px 0px;
}
.categorycontainer{
	font-size: 20px;
}
.newarrivalcontainer{
  font-size: small;
  width: 100%;
}
.newarrival{
  width: 100%;
  margin-top: 100px;
}
.newarrivalcard{
  flex-wrap: wrap;
  width: 200px;
  height: 300px;
}
.newarrivalcard_image{
  width: 200px;
  height: 200px;
}
#newarrivalcard1{
  margin: 11px 10px 10px 40px;
}
}